@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #fff;
  background: rgb(142, 73, 232);
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(to bottom, #ffeb3b5c 0%, #d9a8a2 100%);
}

.wrapper {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.input-field {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}

.input-field input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: #8E49E8;
}

.input-field button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.input-field button:hover,
.footer button:hover {
  background: #721ce3;
}

.input-field button.active {
  opacity: 1;
  pointer-events: auto;
}

.todo-list {
  max-height: 250px;
  overflow-y: auto;
}

.todo-list li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
  border: 1px solid #f2f2f2;
}

.todo-list li .icon {
  position: absolute;
  right: 0;
  top: 0;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo-list li:hover .icon {
  right: 0;
}

.todo-list li.active {
  background: #f2f2f2;
  border: 1px solid #ccc;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

.pending-tasks {
  background-color: #f2f2f2;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50px;
}
